div.scroll-type{ 
    overflow : auto;
    white-space:nowrap;
    padding: 10px;
}
h3{
    color: black;
}
div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
.box{
    position: relative;
    width : 15em;
    height : 20em;
    margin : 2em;
    padding : 1em;
    background-color: #f1f1f1;
    border : 1px solid #574747;
    ;
}
br{
    margin-bottom: 1px;
}
.breast{
    background-image: url('./breast-cancer.jpg');
}
.lungs{
    background-image: url("./lungs-cancer.jpg");
}
.stomach{
    background-image: url('./stomach-cancer.jpg');
}
.colorectal{
    background-image: url("./colerectal-cancer.jpg");
}
.cervical{
    background-image: url('./cervical-cancer.jpg');
}
.liver{
    background-image: url("./liver-cancer.jpg");
} 

/* .type-of-cancers{
    background-color: white;
    clear : right;
    color : black;
}
.type-of-cancer-text{
    color: white;
}
.type-of-cancer-heading{
    color:white;
    font-display:unset;
    font-size: 2em;
} 
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
} */

.accordion-button{
    cursor: pointer;

    text-align: center;
    font-weight: bold;
    color: #613048; 
    --bs-accordion-active-bg: #61304857;
    --bs-accordion-btn-focus-border-color : #613048de;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #61304876;
    --bs-accordion-active-color : #613048

}
.accordion-body{
    text-align: justify; 
}

/* Pop up data */
.popup-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .popup-button:hover {
    background-color: #0056b3;
  }
  /* Style for the dialog container */
  .dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  /* Style for the dialog content */
  .dialog-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    max-width: 500px;
    padding: 0 15px;
  }
  /* Style for the close icon */
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 0;
  }

  .popup-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }